# This workflow deploy typedoc generated documentation to gh-pages branch

name: doc

on:
  push:
    branches: [main]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint:dontfix

      - name: Check Formatting
        run: npm run format:dontfix

      - name: Coverage
        run: npm run test:cov

      - name: Generate documentation
        run: npm run doc

      - name: Deploy to Github Pages
        uses: crazy-max/ghaction-github-pages@v2.7.0
        with:
          # Build directory to deploy
          build_dir: docs
          # The author name and email address
          author: typedoc
          # Allow Jekyll to build your site
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
